/build
/data
/.vs
/x64
.vs/
/builds
/fuzz_tests
/perf_tests
/tests

# vim swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

sally.cbp
sally.layout
sally.sln
sally.rdbg
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
